*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height:100vh;
  display:flex;
  justify-content: center;
  margin-top: 100px;
}
.inner-continer{
  width: 300px;
}
li{
  margin-top: 5px;
}
li span{
  margin-left: 5px;
}
li button{
  margin-left:5px
}
